body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit" , sans-serif;
    margin: 0px;
    padding: 0px;
    max-width: 1440px;
    max-height: 900px;
}
.container{
    max-width: 280px;
    background-color: hsl(216, 50%, 16%);
    text-align: left;
    margin: 25px auto;
    margin-top: 5%;
    border-radius: 10px;
    box-shadow: 0px 10px 18px hsl(215, 32%, 27%);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.img-container{
    width: 250px;
    height: 250px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;

}
.img-container-lg{
    position: relative;
}
.icon {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.overlay {
    position: absolute;
    height: 250px;
    width: 250px;
    opacity: 0;
    transition: .3s ease;
    background-color:hsl(178, 100%, 50%);
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    -o-border-radius: 10px 10px 10px 10px;
    bottom: 12px;
    left:15px;
}
.title{
    color:hsl(0, 0%, 100%);
    font-size:large;
    font-weight: 500;
}
.description{
    color: hsl(215, 51%, 70%);
    font-weight: 100;
    font-size: medium;
}
.left-span{
    color: hsl(178, 100%, 50%);
    font-size: small;
    font-weight: 500;
    margin-right: 85px;
    text-align: center;
    align-items: center;
}
.eth-img{
    height: 12px;
}
.right-span{
    color: hsl(215, 51%, 70%);
    font-size: medium;
    font-weight: 100;
    align-items: center;
}
.clock-img{
    height: 13px;
    padding-bottom: 0;
}
.title-continer{
    margin: 5%;
}
.hr-style{
    border: 1px solid;
    color: hsl(215, 32%, 27%);
    border-style: none none solid; 
    width: 90%;
    margin-top: 20px;
    margin-bottom: 0;
}
.credits-container{
    margin: 5%;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: medium;
    color: white;

}
.creation-of{
    color: hsl(215, 51%, 70%);
    
}
.avt-img{
    height: 30px;
    margin-right: 25px;
    border-radius: 50px;
    border: 1px solid white;
}
.attribution{
    color: aliceblue;
}
a{
    text-decoration: none;
}

/* ------- */

.container-des:hover {
    color: hsl(178, 100%, 50%);
}

#title:hover{
    color: hsl(178, 100%, 50%);
}

.img-container-lg:hover .overlay {
    opacity:0.8;
  }
